<h2>Edit Animal: <%= @animal['first_name'] %> <%= @animal['last_name'] %></h2>

<!--
  Using value="SOMETHING" in these form text input tags is what causes them to already be filled
  with data when the page loads; here, we set the value to be whatever was already in the
  database for this column, using ERB tags for interpolating that column value from @animal
-->
<form action="/animals/<%= @animal['id'] %>" method="post">
  First Name: <input type="text" name="first_name" value="<%= @animal['first_name'] %>"><br>
  Last Name: <input type="text" name="last_name" value="<%= @animal['last_name'] %>"><br>
  Species: <input type="text" name="species" value="<%= @animal['species'] %>"><br>
  Description: <input type="text" name="description" value="<%= @animal['description'] %>"><br>
  Roundness: <input type="text" name="roundness" value="<%= @animal['roundness'] %>"><br>
  Alive: <input type="text" name="alive" value="<%= @animal['alive'] %>"><br>
  Age: <input type="text" name="age" value="<%= @animal['age'] %>"><br>
  Image URL: <input type="text" name="image_url" value="<%= @animal['image_url'] %>"><br>
  <br>
  <input type="submit" value="Update Animal">
</form>
